.body_overlay {
    background: var(--surface1);
    background: linear-gradient(180deg, var(--surface1) 34vw, var(--surface2) 34vw);
    /* 840px => 64vw
    420px => 62vw*/
    background-attachment: fixed;
    padding-top: calc(64px + 2vh);
}

.body {
    padding: 2%;
    max-width: 1280px;
    margin: 0 auto 0 auto;
    background-image: url(./assets/web_illustration-1280x560.png);
    background-size: contain;
    background-position: top right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container_apps {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.container_apps h1 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text1);
    margin: 0;
}

.container_apps h1 span {
    letter-spacing: 0.2rem;
}

.container_apps h1::before {
    content: "——";
    margin-right: 0.8rem;
}

.container_apps h2 {
    font-size: 3rem;
    color: var(--text2);
    margin: 0 0 1.4rem 0;
}

.container_contact {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.container_contact h1 {
    font-size: 2rem;
    color: var(--text2);
    margin: 0;
}

.container_contact p {
    font-size: 1.2rem;
    color: var(--text3);
    margin-top: 0.3rem;
}

.container_contact button {
    color: var(--main);
    border-color: var(--main);
    background: transparent;
    padding: 0.4rem;
}

.container_contact button span {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

.container_connect {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.container_connect h1 {
    font-size: 2rem;
    color: var(--text2);
    margin: 0;
}

.container_connect p {
    font-size: 1.2rem;
    color: var(--text3);
    margin-top: 0.3rem;
}

.container_connect section {
    display: flex;
    gap: 32px;
}

.container_connect ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.container_connect form {
    display: flex;
    height: 28px;
}

.container_connect input[type='email'] {
    letter-spacing: 1px;
    padding: 2px 8px;
    background-color: transparent;
    border: solid 1px var(--button);
    border-radius: 6px 0 0 6px;
    transition: all 1s ease;
}

.container_connect input[type='email']:focus {
    outline: none;
    background-color: var(--surface2);
}

.container_connect input[type='submit'] {
    background-color: var(--button);
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: all 0.5s ease;
}


/* Screen <= 600px */
/* .container {
    width: auto;
} */