.cover {
    background-color: var(--surface1);
    padding-top: calc(64px + 4vh);
}

.body {
    padding: 2%;
    max-width: 1280px;
    margin: 0 auto 0 auto;
    background-image: url(./assets/side-img2.png);
    background-size: contain;
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    background: hsla(var(--surface1-values), 0.8);
    background: linear-gradient(90deg,
            hsla(var(--surface1-values), 1) 40%,
            hsla(var(--surface1-values), 0.5) 80%,
            hsla(var(--surface1-values), 0) 100%);
    width: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    margin: 0;
    font-weight: 600;
    color: var(--text2);
}

.container p {
    color: var(--text3);
}

.container button {
    color: var(--main);
    padding: 6px 10px;
    background: transparent;
    border: solid 1px var(--main);
    border-radius: 4px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.container button span {
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.container button::after {
    content: "»»";
    letter-spacing: 2px;
    margin-left: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.container button:hover::after {
    margin-left: 10px;
}

.container button:hover {
    color: var(--text2);
    border-color: var(--border2);
    transform: translate(4px, 0);
}

.container button:active {
    background: var(--button);
    transform: translate(16px, 0);
}

.container_apps {
    height: 400px;
    align-items: center;
}

.container_contact {
    height: 300px;
    align-items: flex-start;
}

/*.container_contact div:nth-of-type(2) {
    display: none;
}

.container_contact_box div:nth-of-type(2) {
    display: block !important;
    width: 300px;
}

.container_contact_box {
    width: 700px;
    height: auto;
    padding: 32px;
    background: #fafafa;
    border-radius: 6px;
    border: solid 1px rgba(1, 5, 2, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container_contact_box form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container_contact_box form section {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.container_contact_box :where(input[type='text'], input[type='email'], textarea) {
    font-size: 14px;
    padding: 2px 8px;
    background: transparent;
    border: none;
    border-bottom: solid 2px rgba(31, 131, 39, 0.6);
}

.container_contact_box :where(input[type='text'], input[type='email'], textarea):focus {
    outline: none;
}

.container_contact_box textarea {
    resize: none;
}

.container_contact_box label {
    font-size: 13px;
    transform: translate(4px, -32px);
    pointer-events: none;
    transition: 0.2s ease all;
}

.container_contact_box input:focus+label,
.container_contact_box input:valid+label {
    color: rgba(31, 131, 39, 0.6);
    transform: translate(0, -48px);
}

.container_contact_box textarea:focus+label,
.container_contact_box textarea:valid+label {
    color: rgba(31, 131, 39, 0.6);
    transform: translate(0, -80px);
}

.container_contact_box input[type='submit'] {
    font-size: 14px;
    font-weight: 700;
    color: #fafafa;
    padding: 4px 0;
    background-color: #1F8327;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.8s ease;
}

.container_contact_box input[type='submit']:hover {
    background-color: rgba(31, 131, 39, 0.8);
}

.container_contact_box input[type='submit']:active {
    background-color: rgba(31, 131, 39, 0.2);
}


.container_contact_box div:nth-of-type(2) p {
    font-size: 12px;
    color: #4b4b4b;
}

.container_contact_box div:nth-of-type(2) a {
    color: #4b4b4b;
}

.container_contact_box div:nth-of-type(2) a:hover {
    color: #1F8327;
} */

.container_connect {
    height: 200px;
    margin: 0 auto 0 auto;
    align-items: center;
    width: auto;
    background: linear-gradient(60deg,
            hsla(var(--surface1-values), 1) 40%,
            hsla(var(--surface1-values), 0) 50%);
}

.container_connect section {
    display: flex;
    gap: 32px;
}

.container_connect ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.container_connect form {
    display: flex;
    height: 28px;
}

.container_connect input[type='email'] {
    letter-spacing: 1px;
    padding: 2px 8px;
    background-color: transparent;
    border: solid 1px var(--button);
    border-radius: 6px 0 0 6px;
    transition: all 1s ease;
}

.container_connect input[type='email']:focus {
    outline: none;
    width: 200px;
    background-color: var(--surface2);
}

.container_connect input[type='submit'] {
    background-color: var(--button);
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: all 0.5s ease;
}


/* Screen <= 600px */
/* .container {
    width: auto;
} */