.footer {
    font-size: smaller;
    color: var(--text4);
    padding: 1vw;
    background-color: var(--surface2);
    display: flex;
    flex-direction: row;
    gap: 18px;
    -webkit-user-select: none;
    user-select: none;
}

.footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.footer a {
    color: inherit;
}

.footer a:hover {
    color: var(--main);
}

.footer a:active {
    color: var(--main);
}