.footer {
    font-size: small;
    color: var(--text4);
    padding: 1vw;
    background-color: var(--surface2);
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    -webkit-user-select: none;
    user-select: none;
}

.footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.footer a {
    color: inherit;
}

.footer a:hover {
    color: var(--main);
}

.footer a:active {
    color: var(--main);
}