.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 4rem;
    padding: 0 2vw;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--background_color1)), to(transparent));
    background: -o-linear-gradient(top, var(--background_color1), transparent);
    background: linear-gradient(180deg, var(--background_color1), transparent);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamburger_button,
.navbar>ul {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.navbar>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo img {
    width: 5rem;
    height: 3rem;
}

.navbar>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.navbar>ul li {
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar>ul li:hover {
    scale: 1.1;
}

.navbar>ul li:active {
    rotate: 30deg;
}

.navbar>ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar>ul li img {
    width: 1.25rem;
}

.navbar>ul li:first-child img {
    display: none;
    width: 1.5rem;
}

@media screen and (max-width: 840px) {
    .navbar>ul li:first-child img {
        display: block;
    }

    .navbar>ul li:first-child span {
        display: none;
    }
}