.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 4rem;
    padding: 0 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    user-select: none;
}

.blur_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: 4rem;
    backdrop-filter: blur(5px);
    mask: linear-gradient(180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.8) 75%,
            rgba(0, 0, 0, 0) 100%);
}

.navbar a {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 5rem;
    height: 3rem;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.socials a {
    transition: rotate .5s ease-in-out;
}

.socials a:hover {
    rotate: 360deg;
}

.socials a img {
    width: 1.25rem;
}