.button {
    padding: 0.4rem 0.6rem;
    background: var(--button1);
    border: solid 1px var(--border2);
    border-radius: 0.3rem;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.button span {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.button::after {
    content: "»»";
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-left: 0.5rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.button:hover::after {
    margin-left: 0.7rem;
}

.button:hover {
    transform: translate(2px, 0);
}

.button:active {
    color: var(--button1);
    border-color: var(--button1);
    background: transparent;
    transform: translate(8px, 0);
}