.body_overlay {
    background-color: var(--surface1);
    padding-top: 4.4rem;
}

.body {
    padding: 2%;
    max-width: 1280px;
    margin: 0 auto 0 auto;
}

.body header {
    height: 10rem;
    border-radius: 1rem;
    background: url(../assets/apps_illustration.svg), var(--surface4);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: flex;
    align-items: center;
}

.body header h1 {
    text-transform: uppercase;
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--primary_light_p8_opacity);
}

.apps {
    margin: 4rem 0;
}

@media screen and (max-width: 480px) {
    .apps {
        display: flex;
        justify-content: center;
    }
}