.cont_modal {
    width: 350px;
    padding: 1.8rem;
    border-radius: 0.8rem;
    background: var(--surface4);
    box-shadow: 0px 0px 30px 0px var(--shadow2);
}

.closingicon {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    cursor: pointer;
}

.cont_modal h1 {
    margin: 1rem 0;
}

.tabs {
    padding: 0.1rem;
    border-radius: 0.5rem;
    background-color: var(--surface5);
    margin-bottom: 2.2rem;
    display: flex;
    position: relative;
}

.tabs input {
    display: none;
}

.tabs section {
    width: calc(100% / 2);
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.tabs span {
    width: calc((100% - 0.5rem) / 2);
    border-radius: 0.5rem;
    background-color: var(--button2);
    position: absolute;
    top: 0.2rem;
    bottom: 0.2rem;
    transition: 0.15s ease, transform 0.25s ease-out;
}

.tabs input:nth-of-type(1):checked~span {
    transform: translateX(0);
}

.tabs input:nth-of-type(2):checked~span {
    transform: translateX(100%);
}

.emails {
    position: absolute;
    top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 1;
    pointer-events: all;
    scale: 1;
    translate: 0;
    transition: all 0.3s ease;
}

.emails_hide {
    opacity: 0;
    pointer-events: none;
    scale: 0.98;
    translate: -30px 0;
}

.emails li {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.emails a {
    color: inherit;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.4rem;
    text-decoration: none;
    transition: all 0.2s ease;
}

.emails a:hover {
    color: var(--link);
    transform: translateX(0.1rem);
    letter-spacing: 0.15rem;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    opacity: 1;
    pointer-events: all;
    scale: 1;
    translate: 0;
    transition: all 0.4s ease;
}

.contact_form_hide {
    opacity: 0;
    pointer-events: none;
    scale: 0.98;
    translate: 20px 0;
}

.contact_form section {
    position: relative;
}

.contact_form label {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    letter-spacing: 0.05rem;
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
    background-color: var(--surface2);
    pointer-events: none;
    transform-origin: 0 50%;
    transition: all 0.2s ease;
}

.contact_form p {
    color: var(--error1);
    margin: 0;
    position: absolute;
    bottom: -1.1rem;
    left: 0.2rem;
}

.textarea_label {
    display: flex;
    gap: 0.6rem;
}

.textarea_label span {
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
    background-color: var(--surface4);
    border-radius: 0.4rem;
}

.textarea_label_error span {
    background-color: var(--error2);
}

.contact_form :where(input[type='text'], input[type='email'], textarea) {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem 0.5rem 0.3rem;
    border: none;
    border-radius: 0.4rem;
    background: var(--surface2);
    outline: none;
}

.contact_form section:nth-of-type(3) input {
    letter-spacing: normal;
    text-transform: uppercase;
}

.contact_form textarea {
    font-size: 1rem;
    letter-spacing: normal;
    resize: none;
}

.contact_form input:focus~label,
.contact_form input:not(:placeholder-shown)~label {
    transform: translate(0.6rem, -1rem) scale(0.9);
    letter-spacing: normal;
}

.contact_form textarea:focus~label,
.contact_form textarea:not(:placeholder-shown)~label {
    transform: translate(0.6rem, -1rem) scale(0.9);
    letter-spacing: normal;
}

.contact_form input[type='submit'] {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 0.4rem;
    background-color: var(--button1);
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.1s;
}

.contact_form input[type='submit']:active {
    box-shadow: 0px 0px 4px 1px var(--button1);
}

.error_input {
    outline: 2px dashed var(--error2)
}

@media screen and (max-width: 440px) {
    .cont_modal {
        width: 80vw;
        padding: 1.2rem;
    }
}