.button {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    color: var(--background_color1);
    background-color: var(--primary_color);
    box-shadow: 0.2rem 0.2rem var(--foreground_color1);
    border: 0.05rem solid var(--foreground_color1);
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    transition: all .3s;
}

.button:hover {
    translate: .2rem .2rem;
    box-shadow: none;
}

.button:active {
    scale: 0.95;
}