.button {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    color: var(--background_color1);
    background-color: var(--primary_color);
    -webkit-box-shadow: 0.2rem 0.2rem var(--foreground_color1);
    box-shadow: 0.2rem 0.2rem var(--foreground_color1);
    border: 0.05rem solid var(--foreground_color1);
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.button:hover {
    translate: .2rem .2rem;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button:active {
    -webkit-box-shadow: inset 0 0.4rem 0.8rem -0.2rem var(--foreground_color1);
    box-shadow: inset 0 0.4rem 0.8rem -0.2rem var(--foreground_color1);
    scale: 0.9;
}