.button {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    color: var(--background_color1);
    background-color: var(--primary_color);
    border: none;
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.button:hover {
    -webkit-box-shadow: 0.1rem 0.25rem 4rem -0.75rem var(--primary_color);
    box-shadow: 0.1rem 0.25rem 4rem -0.75rem var(--primary_color);
}

.button:active {
    -webkit-box-shadow: 0.1rem 0.25rem 4rem 0 var(--primary_color);
    box-shadow: 0.1rem 0.25rem 4rem 0 var(--primary_color);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}