.body_overlay {
    background-color: var(--surface1);
    background-image: linear-gradient(180deg,
            var(--surface4) 34vw,
            var(--surface1) 34vw);
    background-attachment: fixed;
    padding-top: 4.4rem;
}

.body {
    padding: 2%;
    max-width: 1280px;
    margin: 0 auto 0 auto;
    background-image: url(../assets/web_illustration-1280x560.png);
    background-size: contain;
    background-position: top right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container_apps {
    width: 600px;
    height: calc(200px + 30vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: fadeAndMove 0.6s ease;
}

.container_apps h2 {
    font-size: 2.5rem;
    color: var(--text2);
    margin: 0 0 1.2rem 0;
}

.container_contact {
    width: 500px;
    height: calc(50px + 20vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: fadeAndMove 0.6s ease;
}

.container_contact p {
    font-size: 1rem;
    color: var(--text2);
    margin-top: 0.2rem;
}

.container_contact button {
    color: var(--button3);
    border-color: var(--button3);
    background: transparent;
    padding: 0.3rem 0.6rem;
}

.container_contact button span {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

.container_connect {
    height: calc(50px + 20vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeAndMove 0.6s ease;
}

.container_connect p {
    font-size: 1rem;
    color: var(--text2);
    text-align: center;
    margin-top: 0.2rem;
}

.container_connect section {
    display: flex;
    gap: 2rem;
}

.container_connect ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.container_connect form {
    display: flex;
    height: 28px;
    position: relative;
}

.container_connect input[type='email'] {
    letter-spacing: 0.05rem;
    padding: 0.1rem 0.5rem;
    background-color: transparent;
    border: solid 1px var(--button1);
    border-radius: 0.4rem 0 0 0.4rem;
    outline: none;
    transition: all 0.2s ease;
}

.container_connect input[type='submit'] {
    background-color: var(--button1);
    border: none;
    border-radius: 0 0.4rem 0.4rem 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.container_connect form span {
    color: var(--error1);
    position: absolute;
    top: 28px;
    left: 8px;
}

.error_input {
    background-color: var(--error2) !important;
}

@keyframes fadeAndMove {
    from {
        opacity: 0;
        translate: -100px;
        scale: 1.2;
    }

    to {
        opacity: 1;
        translate: 0;
        scale: 1;
    }
}

@media screen and (min-width: 1280px) {
    .body_overlay {
        background-image: linear-gradient(180deg,
                var(--surface4) 438px,
                var(--surface1) 438px);
    }

    .body {
        background-size: 1280px 560px;
        background-position: top;
    }
}

@media screen and (max-width: 840px) {
    .body_overlay {
        background-image: linear-gradient(180deg,
                var(--surface4) 50vw,
                var(--surface1) 50vw);
    }

    .body {
        background-image: url(../assets/web_illustration-840x480.png);
    }

    .container_apps {
        width: 75vw;
    }

    .container_contact {
        width: auto;
    }
}

@media screen and (max-width: 440px) {
    .container_apps {
        width: auto;
    }

    .container_connect section {
        flex-direction: column;
        gap: 1.5rem;
    }

    .container_connect ul {
        margin: 0 auto 0 auto;
        gap: 1.5rem;
    }
}