.body_overlay {
    background-color: var(--surface1);
    background-image: -webkit-gradient(linear,
            left top, left bottom,
            color-stop(35.5vw, var(--surface4)),
            color-stop(35.5vw, var(--surface1)));
    background-image: -o-linear-gradient(top,
            var(--surface4) 35.5vw,
            var(--surface1) 35.5vw);
    background-image: linear-gradient(180deg,
            var(--surface4) 35.5vw,
            var(--surface1) 35.5vw);
    background-attachment: fixed;
    padding-top: 4.4rem;
}

.body {
    padding: 2%;
    max-width: 1280px;
    margin: 0 auto 0 auto;
    background-image: url(../assets/home_page_illustration_1280x560.svg);
    background-size: contain;
    background-position: top right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container_apps {
    width: 600px;
    height: calc(200px + 30vh);
    margin-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.container_apps h2 {
    font-size: 2.5rem;
    color: var(--text2);
    margin: 0 0 1.2rem 0;
}

@media screen and (min-width: 1280px) {
    .body_overlay {
        background-image: -o-linear-gradient(top,
                var(--surface4) 455px,
                var(--surface1) 455px);
        background-image: linear-gradient(180deg,
                var(--surface4) 455px,
                var(--surface1) 455px);
    }

    .body {
        background-size: 1280px 560px;
        background-position: top;
    }
}

@media screen and (max-width: 840px) {
    .body_overlay {
        background-image: -webkit-gradient(linear,
                left top, left bottom,
                color-stop(50.3vw, var(--surface4)),
                color-stop(50.3vw, var(--surface1)));
        background-image: -o-linear-gradient(top,
                var(--surface4) 50.3vw,
                var(--surface1) 50.3vw);
        background-image: linear-gradient(180deg,
                var(--surface4) 50.3vw,
                var(--surface1) 50.3vw);
    }

    .body {
        background-image: url(../assets/home_page_illustration_840x480.svg);
    }

    .container_apps {
        width: 75vw;
    }
}

@media screen and (max-width: 440px) {
    .container_apps {
        width: auto;
    }
}