.body_overlay {
    background-color: var(--surface1);
    padding-top: 4.4rem;
}

.body {
    color: var(--text3);
    padding: 2%;
    max-width: 960px;
    margin: 0 auto 0 auto;
}

.body :where(h1, h2, h3, b) {
    font-weight: 500;
}

.body :where(p, li) {
    font-size: 0.9rem;
}

.body a {
    color: var(--link);
    text-decoration: none;
}

.body a:hover {
    text-decoration: underline;
}