.body {
    max-width: 960px;
    margin: 0 auto;
    padding: 5rem 1.5rem 2rem;
    font-size: 0.9rem;
    font-family: var(--system_font_family);
}

.body :where(h1, h2, h3, b, dt) {
    font-weight: 500;
}