.body {
    background-color: var(--background_color1);
}

.body_content {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 5rem 2rem 2rem;
}

.body :where(h1, h2, h3) {
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0;
}

.big_text {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0.5rem 0 2rem;
    max-width: 44rem;
}

.body header {
    height: 24rem;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1rem;
    background: url(../../../assets/images/student_room.png), var(--background_color2);
    background-size: 40rem 22.5rem;
    background-position: top right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body header .big_text {
    font-size: 2.5rem;
}

.download_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.download_buttons :where(span, a) {
    cursor: pointer;
    transition: all .3s;
}

.download_buttons :where(span, a):active {
    scale: 0.95;
}

.download_buttons img {
    width: 8rem;
}

.showcase {
    margin: 8rem 0;
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 5%;
    align-items: center;
}

.download {
    margin: 8rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download .big_text {
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .body header {
        height: 28rem;
        padding-top: 6rem;
    }

    .body header .big_text {
        font-size: 2rem;
        max-width: 35rem;
    }
}

@media screen and (max-width: 640px) {
    .body header {
        background-size: 28rem 15.75rem;
    }
}