.description {
    margin: 8rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.phone {
    position: sticky;
    top: 8rem;
    left: 0;
    width: 16rem;
    aspect-ratio: calc(10 / 19);
    margin: 0 auto;
    border: 0.1rem solid var(--grey4);
    border-radius: 0.5rem;
    background-color: var(--background_color2);
}

.phone img {
    width: 100%;
    border-radius: 0.5rem;
}

.content {
    padding-top: 4rem;
}

.content section {
    padding: 4rem 0;
}

.content section h2 {
    font-size: 1.75;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}

.content section p {
    font-size: 1.25rem;
    max-width: 32rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
    .description {
        grid-template-columns: 1fr;
    }

    .phone {
        width: 80%;
    }

    .content {
        padding-top: 0;
        z-index: 1;
        background: linear-gradient(45deg, var(--background_color1) 25%, transparent);
    }
}