.devices {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.phone_screen,
.tablet_screen {
    position: relative;
    border: 0.1rem solid var(--foreground_color3);
    border-radius: 0.75rem;
    background-color: var(--background_color1);
}

.phone_screen {
    width: 26%;
    aspect-ratio: calc(9 / 16);
}

.tablet_screen {
    width: 65%;
    aspect-ratio: calc(3 / 2);
}

.phone_screen .time {
    font-size: 0.5rem;
}

.tablet_screen .time {
    font-size: 0.6rem;
}

.time {
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
    font-family: var(--system_font_family);
    color: var(--foreground_color2);
}