.body {
    margin: 0 auto;
    padding: 6rem 0 1rem;
}

.body header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
}

.body header h1 {
    font-size: 3rem;
    text-transform: capitalize;
    margin: 0;
    max-width: 600px;
}

.body header p {
    font-size: 1.25rem;
}

.body header>section:nth-child(1) {
    margin: auto 1rem;
}

.body header>section:nth-child(2) {
    width: 95%;
    aspect-ratio: 32/21;
    margin: auto 0 auto auto;
    border-radius: 0.5rem 0 0 0.5rem;
    background: url(../../../assets/images/header_picture.png),
        var(--background_color2);
    background-size: contain;
    background-repeat: no-repeat;
}

.apps {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

.apps h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.sc_app {
    height: 28rem;
    width: 24rem;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: url(../../../assets/images/student_home_desk.png),
        var(--sc_app_on_primary_color);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.sc_app h3 {
    font-size: 1.5rem;
    margin: 0;
}

.sc_app p {
    margin: 0.5rem 0 1.5rem;
}

.sc_app>section {
    width: 3rem;
    aspect-ratio: 1;
    margin-bottom: 0.75rem;
}

.sc_app>section img {
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .body header>section:nth-child(1) {
        margin-left: calc(((100vw - 1280px) / 2) + 1rem);
    }
}

@media screen and (max-width: 1080px) {
    .body header {
        grid-template-columns: 1fr;
    }

    .body header>section:nth-child(2) {
        width: 100%;
        aspect-ratio: 32/15;
        border-radius: 0;
        background-size: cover;
    }

    .body header>section:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    .body header :where(h1, p) {
        text-align: center;
    }
}