body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar {
  background-color: #e3e8e3;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c2d6c4;
  box-shadow: inset 1px 0.5px 3px #9cc99f;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a3c2a6;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #7ab880;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 840px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    font-size: 12px;
  }
}

:root {
  --white1: #fafafa;
  --white2: #f5f5f5;
  --white3: #f0f0f0;

  --black1: #0a0a0a;
  --black2: #141414;
  --black3: #1e1e1e;

  --grey1: #3c3c3c;
  --grey2: #646464;
  --grey3: #8c8c8c;
  --grey4: #b4b4b4;
  --grey5: #dcdcdc;

  --red1: #af0000;
  --red2: #d77878;

  --primary: #6ec475;
  --primary_lighten: #c5e7c8;
  --primary_lighten2: #e2f3e3;
  --primary_darken: #235728;
  --primary_saturated_darken: #27a531;

  --secondary: #c46ebd;
  --secondary_lighten: #e7c5e4;
  --secondary_darken: #572353;

  --white1_p8_opacity: rgba(250, 250, 250, 0.8);
  --grey5_p5_opacity: rgba(220, 220, 220, 0.5);
  --primary_lighten_p8_opacity: rgba(197, 231, 200, 0.8);

  /* ------------------------------- */

  --text1: var(--black1);
  --text2: var(--black2);
  --text3: var(--black3);

  --surface1: var(--white1);
  --surface2: var(--white2);
  --surface3: var(--white3);
  --surface4: var(--primary_lighten);
  --surface5: var(--primary_lighten2);

  --shadow1: var(--white3);
  --shadow2: var(--grey5);
  --shadow3: var(--grey4);

  --border1: var(--grey3);
  --border2: var(--grey4);

  --button1: var(--primary);
  --button2: var(--primary_lighten);
  --button3: var(--primary_saturated_darken);

  --link: var(--primary);

  --error1: var(--red1);
  --error2: var(--red2);

}