@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans-Bold.ttf');
  font-weight: bold;
}

:root {
  --dm_sans_font_family: 'DM Sans', var(--system_font_family);
  --system_font_family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', sans-serif;
}

:root {
  --white255: rgb(255, 255, 255);
  --white245: rgb(245, 245, 245);
  --white235: rgb(235, 235, 235);

  --error_red: #bf4040;
  --error_red_light: #f6c1c1;
  --success_green: #40bf40;
  --success_green_light: #c1f6c1;
  --warning_yellow: #bfbf40;
  --warning_yellow_light: #f6f6c1;

  --blue: #0c3475;
  --blue_light: #1148a2;

  --muts_navy: #041229;
  --muts_navy_tint1: #364154;
  --muts_navy_tint2: #68717f;
  --muts_navy_tint3: #9ba0a9;
  --muts_navy_tint4: #cdd0d4;

  --sc_brown: #a5785e;
  --sc_brown_white: #eae5d9;

  --white235_a50: rgba(235, 235, 235, 0.5);
}

:root {
  --background_color1: var(--white255);
  --background_color2: var(--white245);
  --background_color3: var(--white235);

  --foreground_color: var(--muts_navy);

  --grey1: var(--muts_navy_tint1);
  --grey2: var(--muts_navy_tint2);
  --grey3: var(--muts_navy_tint3);
  --grey4: var(--muts_navy_tint4);

  --error_color: var(--error_red);
  --error_container_color: var(--error_red_light);
  --success_color: var(--success_green);
  --success_container_color: var(--success_green_light);
  --warning_color: var(--warning_yellow);
  --warning_container_color: var(--warning_yellow_light);

  --blue1: var(--blue);
  --blue2: var(--blue_light);

  --sc_app_primary_color: var(--sc_brown);
  --sc_app_on_primary_color: var(--sc_brown_white);

  --background_color3_a50: var(--white235_a50);
}

:root {
  font-size: 16px;
}

@media screen and (max-width: 760px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--dm_sans_font_family);
  color: var(--foreground_color);
  background-color: var(--background_color1);
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--background_color2);
}

body::-webkit-scrollbar:hover {
  outline: 0.1rem solid var(--background_color3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--grey4);
}

body::-webkit-scrollbar-thumb:active {
  background-color: var(--grey3);
}

a {
  font-weight: 600;
  color: var(--blue1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}