.body_overlay {
    background-color: var(--surface1);
    padding-top: 4.4rem;
}

.body {
    padding: 2%;
    max-width: 1280px;
    margin: 0 auto 0 auto;
}

.container {
    width: 800px;
    padding: 2.4rem;
    border: 1px solid var(--border1);
    border-radius: 0.5rem;
    display: flex;
    animation: fadeAndMove 0.6s ease 10ms;
    margin-top: 2rem;
    margin-bottom: 400px;
}

.st_image {
    width: 400px;
}

.st_content {}

.apps_heading {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px var(--border2);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.apps_heading h1 {
    color: var(--text2);
}

.apps_heading p {
    margin: 0;
}

.container h1 {
    margin: 0;
    font-weight: 600;
    /* color: var(--text1); */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container p {
    color: var(--text2);
}

.container ul {
    width: fit-content;
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.container ul img {
    animation: fadeAndMove 0.8s ease;
}

@keyframes fadeAndMove {
    from {
        opacity: 0;
        transform: translate(-100px) scale(1.1);
    }

    to {
        opacity: 1;
        transform: translate(0) scale(1);
    }
}

@media screen and (min-width: 1280px) {}

@media screen and (max-width: 840px) {}

@media screen and (max-width: 620px) {
    .container {
        width: auto;
    }
}