.sc_download {
    width: 24rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--surface1);
    -webkit-box-shadow: inset 0 1px 1px var(--shadow1), 0 2px 3px var(--shadow2);
    box-shadow: inset 0 1px 1px var(--shadow1), 0 2px 3px var(--shadow2);
}

.closingicon {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    cursor: pointer;
}

.sc_download h1 {
    margin: 0;
}

.sc_download p abbr {
    text-decoration: none;
}

.sc_download form {
    height: 2rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    position: relative;
}

.sc_download form input[type='email'] {
    letter-spacing: 0.04rem;
    width: 60%;
    padding: 0.1rem 0.4rem;
    background-color: transparent;
    border: solid 1px var(--button2);
    border-radius: 0.4rem 0 0 0.4rem;
    outline: none;
}

.sc_download form input[type='submit'] {
    color: var(--text4);
    background-color: var(--button2);
    border: none;
    border-radius: 0 0.4rem 0.4rem 0;
    cursor: pointer;
}

.sc_download form span {
    color: var(--error1);
    position: absolute;
    top: 2rem;
}

.input_error {
    background-color: var(--error2) !important;
}

@media screen and (max-width: 360px) {
    .sc_download {
        width: 80vw;
    }
}