.body {
    background-color: var(--background_color1);
}

.body>div {
    max-width: 640px;
    margin: 0 auto;
    padding: 5rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body h1 {
    font-size: 8rem;
    margin: 3rem 0;
}

.body h2 {
    font-size: 2rem;
}

.body p {
    margin-bottom: 2rem;
}